{% extends "dashboard.html" %}
{% block extra_css%}
<link rel="stylesheet" href="{{url_for('static',filename='addnotes.css')}}">
{% endblock %}

    <!-- ===== MAIN CONTENT  -->
      {% block content %}
      <p>Enter a title and description below to save your note.</p>
      <form action="#" method="POST" class="note-form">
        <input type="text" name="title" placeholder="Note Title" required>
        <textarea name="description" placeholder="Note Description..." required></textarea>
        <button type="submit" class="submit-btn">Save Note</button>
      </form>
      {% endblock %}
